// MY VARIABLES
$white: #ffffff;
$light-blue: #04b2e2;
$dark-blue: #003260;
$pink: #FFA69E;
$black: #000000;
$font1: "Racing Sans One", sans-serif;
$font2: "Playfair Display", sans-serif;

$yellow: #ffee8c;
$btn-text-color: #fff;
$border-color: rgb(166, 165, 165);


body {margin: 0;
    padding: 0;
    color: $dark-blue;
    font-family: $font2;}


.house {max-width: 100%;
    max-height: 40%;}


header {text-align: center;
    text-transform: uppercase;
    margin: 0%;
    color: $white;
    background-color: $dark-blue;}

.mission {}

.pages {
    background-color: $light-blue;
}


form {background-color: $dark-blue;
    text-align: center;
    color: $white;
    padding: 2em;}


// MEDIA QUERIES
//phone
@media screen and (max-width: 320px){
    body{display: flex;
        flex-direction: column;
        text-align: center;}
    header{font-size: 2.1rem;}
}

//tablet
@media screen and (min-width: 321px) and (max-width: 768px){}

//desktop
@media screen and (min-width: 769px){}
